html,
body {
    padding: 0;
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

body {
    font-family: "helvetica ad", sans-serif;
    background: #f2f4fe;
}

h1,
h2,
h3 {
    font-family: "Helvetica Neue", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    width: 20rem;
    margin-left: 8rem;
    margin-top: 1rem;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
