@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.container {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
    color: black;
    background-color: #171d1f;
}
.mint {
    width: 50%;
    margin-left: 20%;
    background: #f8f4e5;

    box-shadow: 30px 30px #ffa580;

    padding: 5rem;
    font-size: 150%;
    text-align: center;
    align-self: center;
}

.heading {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.input {
    height: 3rem;
    width: 35rem;
    border-radius: 3rem;
    text-align: center;
}

.textarea {
    width: 35rem;
    border-radius: 20px;
    padding: 7px;
}
.mintBtn {
    width: 6rem;
    padding: 0.6rem;
    font-size: 1.2rem;
    background-color:#171d1f;
}
